@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:ital,wght@0,500;1,200&family=Inter:wght@300&display=swap");

* {
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.container_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.container_section {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.container_side_bar {
  background-color: #1e1f23;
  border: 1px solid #2e2f36;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;

  width: 24.5%;
}
.container_home {
  background-color: #17181c;
  border: 1px solid #2e2f36;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  width: 75.5%;
  min-height: 1000px;
}

.container_nav {
  background-color: #1e1f23;
  border-bottom: 2px solid #2e2f36;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 73px;
  padding: 0 20px;
}

.container_content {
  background-color: #17181c;

  display: flex;
  justify-content: space-around;

  width: 100%;
}

.container_feed {
  background-color: #17181c;

  display: flex;
  flex-direction: column;

  gap: 24px;

  width: 65.43%;
  height: 100%;
}
.container_friends {
  background-color: #17181c;

  display: flex;
  flex-direction: column;

  gap: 36px;

  width: 25%;
  height: 100%;
}

.container_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  padding-left: 20px;
}

.first_item {
  padding-top: 0px;
}

.post_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 100%;
  min-height: 120px;

  background: #1e1f23;

  border: 2px solid #2e2f36;
  border-radius: 16px;
}

.add_post {
  justify-content: space-around;
  padding: 15px;
}

.container_flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.profile_box {
  width: 32px;
  height: 32px;
}

.user_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  width: 100%;
  padding: 19.5px 16px;
}

.gray_color {
  color: #75767d;
}

.container_friend_data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post_footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0px 16px;
}

.text_post_content {
  width: 100%;
  margin: 0px;
  padding: 16px;
  padding-top: 0px;
}

.container_add_comment {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-around;

  width: 100%;
}

.container_comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  width: 100%;
  padding-top: 18.5px;
}

.comment_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  width: 100%;
}

.comment_img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.comment_name {
  display: inline-block;
  padding-right: 9px;
}

.container_see_more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  padding: 16px 0px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  margin-bottom: 16px;

  background: #2e2f36;
}

.container_logo_compass {
  width: 68.18%;
}
.logo {
  width: 100%;
  padding: 42px 0px;
}

.house_icon {
  width: 16px;
  height: 17px;

  padding-bottom: 1px;
}

.container_title_friends {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 7.13%;
  padding: 0 20px;
}

.font_16 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.font_14 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.font_12 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.font_11 {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
}

.font_10 {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

.font_8 {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
}

.fw_500 {
  font-weight: 500;
}

.pd16 {
  padding: 16px;
  padding-top: 0px;
}

.fs_inter {
  font-family: "Inter";
}
@media screen and (max-width: 1440px) {
  .container_section {
    min-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 980px) {

  .container_side_bar {
    display: none;
  }

  .container_home {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .font_10 {
    font-size: 12px;
    line-height: 18px;
  }

  .font_11 {
    font-size: 13px;
    line-height: 19.5px;
  }

  .font_12 {
    font-size: 14px;
    line-height: 21px;
  }

  .font_14 {
    font-size: 16px;
    line-height: 24px;
  }

  .font_16 {
    font-size: 18px;
    line-height: 27px;
  }

  .font_8 {
    font-size: 10px;
    line-height: 15px;
  }

}